*, *::before, *::after {
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h1, h2, h3, h4, h5, h6, h7, p {
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        height: fit-content;
        font-weight: 600;
    }

    h5, h6, h7, p {
        font-weight: 600;
    }

    a { 
        text-decoration: none; 
    }
    svg { fill: inherit; }
    
    button {
        outline: none;
        border:none;
        font-family: -apple-system, BlinkMacSystemFont, 'Inter', "system-ui", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        -webkit-tap-highlight-color: transparent;
    }
}

:root {
    --eyebrow-gap: 4px;
    --text-gap: 24px;
    --larger-gap: 32px;
    --vision-gap: 120px;

    --section-block-padding: 150px;
    --secondary-block-padding: 120px;
    --short-padding: 100px;
    --primary-section-gap: 60px;
    --secondary-section-gap: 40px;

    --extralarge-width: 1730px;
    --view-width: 980px;
    --small-width: 312px;

    --keymark-text-width: 700px;
    --primary-text-width: 720px;
    --secondary-text-width: 620px;
    --tertiary-text-width: 330px;

    --primary: #1D1E1F;
    --secondary: rgb(29, 30, 31, 0.5);
    --keymark-color: #1D1E1F;
    --magic-color: linear-gradient(to top, #4682BD, #5ABEBA);
    --link-color: #0066CC;

    --h1-size: 72px;
    --h1-height: calc(var(--h1-size) + 4px);
    --h2-size: 56px;
    --h2-height: calc(var(--h2-size) + 4px);
    --h3-size: 48px;
    --h3-height: calc(var(--h3-size) + 4px);
    --h4-size: 36px;
    --h4-height: calc(var(--h4-size) + 4px);
    --h5-size: 32px;
    --h5-height: calc(var(--h5-size) + 8px);
    --h6-size: 24px;
    --h6-height: calc(var(--h6-size) + 8px);
    --h7-size: 21px;
    --h7-height: calc(var(--h7-size) + 8px);
    --p-size: 19px;
    --p-height: calc(var(--p-size) + 8px);
}

@media (width <= 1035px) {
    :root {
        --h1-size: 56px;
        --h2-size: 48px;
        --h3-size: 40px;
        --h6-size: 21px;

        --view-width: 700px;
    }
}

@media (width <= 630px) {
    :root {
        --h1-size: 48px;
        --h2-size: 40px;
        --h3-size: 32px;
        --h5-size: 28px;

        --view-width: 312px;

        --section-block-padding: 120px;
        --secondary-block-padding: 100px;
    }
}

body, .contain, section, .view, .text, holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;

    body, .contain {
        margin: 0;
        padding: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Inter', "system-ui", sans-serif;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        overflow-x:hidden;
        width: 100vw;
        position: relative;
    }
}

section {
    padding-block: var(--section-block-padding);
    gap: var(--primary-section-gap);
    width: 100vw;
    background: linear-gradient(to bottom, #FFFFFF, #F5F7F9);

    .view {
        width: var(--view-width);
        justify-content: center;
        z-index: 0;
    }

    .align {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .text, .eyebrow {
        align-items: flex-start;
        max-width: var(--primary-text-width);
        gap: var(--text-gap);
        
        img {
            max-width: 240px;
            margin-bottom: var(--eyebrow-gap);
        }

        .jump {
            font-size: 17px;
            line-height: 22px;
            color: var(--link-color);
        
            svg {
                fill: var(--link-color);
                padding-top: 2px;
                min-width: 7px;
            }
        }

        span {
            color: var(--primary);
        }

        h2 {
            font-size: var(--h2-size);
            line-height: var(--h2-height);
        }

        h3 {
            font-size: var(--h3-size);
            line-height: var(--h3-height);
        }
        
        h5 {
            font-size: var(--h5-size);
            line-height: var(--h5-height);
        }

        h6 {
            font-size: var(--h6-size);
            line-height: var(--h6-height);
        }

        h7 {
            font-size: var(--h7-size);
            line-height: var(--h7-height);
        }

        p {
            font-size: var(--p-size);
            line-height: var(--p-height);
            color: var(--secondary);
        }
    }

    .eyebrow {
        gap: var(--eyebrow-gap);
    }
    
}


nav {
    display: flex;
    padding: 4px;
    gap: 4px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255, 0.75);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;

    a {
        padding: 8px 16px;
        color: var(--secondary);
        font-size: 17px;
        align-items: center;
        border-radius: 11px;
        transition: all 0.3s ease;
    }
    
    a:hover {
        background: rgb(0, 0, 0, 0.05);
        color: var(--primary);
    }
    
    .selected {
        color: var(--primary);
    }
}

@media only screen and (max-width: 700px) {
    nav {
        border-radius: 0;
        width: 100vw;
        justify-content: space-around;
        position: fixed;
        top: 0px;

        a svg {
            display: none;
        }
    
        .selected svg {
            display: initial;
        }
    }
}

.key {
    gap: var(--secondary-section-gap);
    padding-block: var(--secondary-block-padding);
    padding-bottom: var(--section-block-padding);
    text-align: center;

    .text {
        align-items: center;
        max-width: var(--keymark-text-width);
    }

    .five {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        width: var(--extralarge-width);
        max-height: 600px;
        position: relative;
    }

    h1 {
        font-size: var(--h1-size);
        line-height: var(--h1-height);
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        background: var(--keymark-color);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h7 {
        max-width: var(--keymark-text-width);
    }

    .iPhone {
        width: 660px;
        z-index: 5;
    }

    .first, .second, .third, .fourth, .fifth {
        animation: moveAnimation 1.75s ease-in-out forwards;
        opacity: 0; 
        z-index: 1; 
    }

    .second {
        animation-delay: 0.2s; 
    }
    .third {
        animation-delay: 0.3s; 
    }
    
    .fourth {
        animation-delay: 0.4s; 
    }
    
    .fifth {
        animation-delay: 0.5s; 
    }

    .appear {
        opacity: 0;  
        filter: blur(5px);
        transform: scale(0.9);
        animation: appearAnimation 1.8s ease-in-out forwards;
        animation-delay: 2s; 
    }

    @media (width <= 630px) {
        br { display: none; }
    }
}

@keyframes moveAnimation {
    0% {
        transform: translateX(1700px);
    }
    25% {
        transform: translateX(1700px);
        opacity: 0.75;
    }
    75% {
        transform: translateX(-30px);
        opacity: 1;
        }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (width >= 2000px) {
    @keyframes moveAnimation {
        0% {
            transform: translateX(2000px);
        }
        25% {
            transform: translateX(2000px);
            opacity: 0.75;
        }
        75% {
            transform: translateX(-30px);
            opacity: 1;
            }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

@media (width >= 2500px) {
    @keyframes moveAnimation {
        0% {
            transform: translateX(2500px);
        }
        25% {
            transform: translateX(2500px);
            opacity: 0.75;
        }
        75% {
            transform: translateX(-30px);
            opacity: 1;
            }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

@keyframes appearAnimation {
    100% {
      filter: blur(0);
      transform: scale(1);
      opacity: 1;
    }
}

/* iOS */
.button-container {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    position:absolute;
    align-self: center;
    justify-self: center;
    z-index: 3;
    gap: 400px;

    .left, .right {
        display: flex;
        width: 100%;
        height: 700px;
        opacity: 0.4;
        cursor: pointer;
        padding: var(--larger-gap);
    }

    .left {
        justify-content: flex-end;
    }

    .right {
        justify-content: flex-start;
    }

    .left svg, .right svg {
        fill: var(--secondary);
    }
    
    .left {
        opacity: 0.3;
    }
}

.workflow {

    .eyebrow {
        align-items: center;
        text-align: center;
    }

    .flow {
        display: grid;
        grid-auto-flow: column;
        width: -moz-fit-content;
        width: fit-content;
        margin-inline: 250px;
        transition: all 0.6s cubic-bezier(0.28, 0.11, 0.32, 1);
        position: relative;
        align-items: start;

        .eyebrow {
            height: 100%;
            justify-content: center;
            width: 480px;
            gap: var(--text-gap);
    
            img {
                min-width: 260px;
            }
    
            p {
                width: 190px;
            }
        }
    }

    holder {
        max-width: 480px;
        max-height: 790px;
        opacity: 0.5;
        transition: all 0.6s cubic-bezier(0.28, 0.11, 0.32, 1);
    }

    .current {
        opacity: 1;
    }

    .iPhone {
        max-width: 840px;
    }

    .row {
        text-align: left;
        flex-direction: row;
        gap: 90px;
        max-width: var(--view-width);
    }

    .left-align {
        align-items: flex-start;
        text-align: left;
    }

    .view {
        width: 980px;
    }

    @media (width <= 630px) {
        .flow {
            margin-inline: -3px;

            .eyebrow {
                width: 320px;
            }
    
            holder {
                max-width: 320px;
                max-height: 580px;
            }
    
            .iPhone {
                max-width: 620px;
            }
        }

        .view {
            width: 312px;
        }

        .row {
            flex-direction: column;
            gap: 60px;
        }

        br {
            display: none;
        }

        .button-container {
            gap: 270px;
    
            .left, .right {
                padding: 20px;
                height: 560px;
            }
        }
    }
}

.cabinet {
    gap: var(--larger-gap);
    padding-top: 0px;

    #cabinet {
        position: absolute;
        aspect-ratio: 979/764;
        width: 1080px;
        transition: background-image 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    }

    .button-container {
        gap: 500px;
    }

    holder {
        justify-content: flex-start;
        height: 730px;
        position: relative;
    }

    .text {
        text-align: center;
        max-width: var(--tertiary-text-width);
    }

    @media (width <= 1360px) {
        #cabinet {
            width: 980px;
        }

        .button-container {
            gap: 460px;

            .left, .right {
                height: 615px;
            }
        }

        holder {
            max-height: 660px;
        }
    }

    @media (width <= 630px) {
        #cabinet {
            width: clamp(660px, 168vw, 722.4px);
        }

        .button-container {
            width: clamp(350px, 100vw, 450px);
            justify-content: space-between;
            gap: 0;

            .left, .right {
                width: fit-content;
                height: clamp(408px, 104vw, 448px);
                padding: clamp(19px, 5vw, 22px);
            }
        }

        holder {
            max-height: clamp(448px, 114vw, 490px);
        }
    }
}

/* iPadOS */
.handwriting {
    padding-bottom: 0;

    .iPad-1 {
        aspect-ratio: 2780/1100;
        width: clamp(1760px, 113vw, 1865px);
        background-image: url("Im/shelf/iPad-1.webp");
    }

    @media (width <= 1360px) {
        .iPad-1 {
            width: 1510px;
        }
    }

    @media (width <= 630px) {
        .iPad-1 {
            aspect-ratio: 1705/2135;
            width: 630px;
            background-image: url("Im/shelf/iPad-1-sm.webp");
        }
    }
}

.drafts {
    padding-bottom: 0;
    
    p {
        max-width: var(--primary-text-width);
    }

    .iPad-2 {
        aspect-ratio: 1257.58/812;
        width: 1180px;
        background-image: url("Im/shelf/iPad-2.webp");
    }

    @media (width <= 1360px) {
        .iPad-2 {
            width: 880px;
        }
    }

    @media (width <= 630px) {
        .iPad-2 {
            aspect-ratio: 1575.16/812;
            width: 880px;
            background-image: url("Im/shelf/iPad-2-sm.webp");
        }
    }
}

/* macOS */
.editorial {
    padding-bottom: 0;

    p {
        max-width: var(--primary-text-width);
    }

    .mac {
        aspect-ratio: 2180/1282;
        width: clamp(1280px, 83vw, 1480px);
        background-image: url("Im/shelf/mac-1.webp");
    }

    .imac {
        aspect-ratio: 2380/1831;
        min-width: clamp(1166px, 77vw, 1380px);
        background-image: url("Im/shelf/mac-2.webp");
    }

    .short {
        min-width: var(--tertiary-text-width);
    }

    .row {
        padding-top: var(--short-padding);
        align-items: center;
        flex-direction: row;
        gap: 80px;
    }

    @media (width <= 1035px) {
        .mac {
            width: 120vw;
            background-image: url("Im/shelf/mac-1-med.webp");
            margin-right: 20vw;
        }

        .imac {
            min-width: 780px;
        }

        .row {
            gap: 60px;
        }

        .short {
            min-width: 270px;
        }
    }

    @media (width <= 630px) {
        .mac {
            aspect-ratio: 1972/1282;
            background-image: url("Im/shelf/mac-1-sm.webp");
            width: 220vw;
            margin-right: 83vw;
        }

        .row {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

/* visionOS */
.magic {
    background: white;

    h3 {
        background: var(--magic-color);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        max-width: var(--keymark-text-width);
        font-weight: 600;
    }

    .sm {
        display: none;
    }

    @media (width <= 630px) {
        .sm {
            display:block;
        }
    }
}

.vision {
    padding-block: 0;
    background: white;

    .vis-1, .vis-2 {
        height: 1000px;
        width: 100%;
        max-width: 1800px;
        background-image: url("Im/shelf/vision-1.webp");
    } 
    
    .vis-2{ background-image: url("Im/shelf/vision-2.webp"); }

    @media (width >= 1730px) {
        .vis-1, .vis-2 {
            border-radius: 28px;
        }
    }

    @media (width <= 1360px) {
        .vis-2 { background-image: url("Im/shelf/vision-2-med.webp"); }
    }

    @media (width <= 1035px) {
        .vis-2 { background-image: url("Im/shelf/vision-2-sm.webp"); }
    }

    @media (width <= 630px) {
        .vis-1, .vis-2 {
            height: 620px;
        }
    }
}

.vision-text {
    background: white;
    padding-top: var(--short-padding);

    h5{
        min-width: var(--tertiary-text-width);
    }

    h7 {
        color: var(--secondary);
    }

    .text {
        max-width: var(--view-width);
    }

    .row {
        flex-direction: row;
        gap: var(--vision-gap);
    }

    @media (width <= 1035px) {
        h5{
            min-width: 300px;
        }

        .row {
            gap: var(--primary-section-gap);
        }
    }

    @media (width <= 630px) {
        .row {
            flex-direction: column;
            gap: 40px;
        }
    }
}

/* watchOS */
.watch {
    background: white;

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--primary-section-gap);
        width: 1080px;
        align-items: flex-start;
    }

    .text {
        align-items: center;
        gap: var(--larger-gap);
    }

    p {
        padding-inline: var(--text-gap);
    }

    img {
        min-width: 300px;
    }

    @media (width <= 1035px) {
        .grid {
            grid-template-columns: repeat(2, 1fr);
            width: var(--view-width);
        }
    }

    @media (width <= 630px) {
        .grid {
            grid-template-columns: repeat(1, 1fr);
            row-gap: var(--short-padding);
        }

        img {
            min-width: 220px;
        }
    }
}

.style {
    background: white;

    .style-watches {
        aspect-ratio: 1648/570;
        width: clamp(1780px, 117vw, 2080px);
        margin-bottom: -90px;
        background-image: url("Im/shelf/style-1.webp");
    }

    .eyebrow, .text {
        text-align: center;
        align-items: center;
    }

    h6 {
        max-width: var(--secondary-text-width);
    }

    @media (width <= 1035px) {
        .style-watches {
            width: 1180px;
            margin-bottom: -40px;
        }

        h6 {
            width: 580px;
        }
    }

    @media (width <= 630px) {
        .style-watches {
            aspect-ratio: 562/1599;
            width: clamp(360px, 91.6vw, 393px);
            margin-bottom: 0;
            background-image: url("Im/shelf/style-1-sm.webp");
        }

        h6 {
            width: 280px;
        }
    }
}

/* widgets */
.widgets {
    padding-bottom: 0;

    img {
        width: 980px;
    }

    .button-container {
        gap: 500px;
    }

    .screen {
        position: relative;
    }

    .flow {
        display: grid;
        grid-auto-flow: column;
        width: -moz-fit-content;
        width: fit-content;
        transition: all 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
        position: absolute;
        align-items: start;
        top: 0px;
        left: 0px;
    }

    .no-overflow {
        width: 393.71px;
        height: 614px;
        overflow: hidden;
        position: absolute;
        top: 100px;
        left: 293px;
    }

    .w-image {
        max-width: 393.71px;
    }

    @media (width <= 630px) {
        img {
            width: clamp(651.7px, 165.826vw, 713.05px);
        }

        .button-container {
            width: clamp(350px, 100vw, 450px);
            justify-content: space-between;
            gap: 0;

            .left, .right {
                width: fit-content;
                height: clamp(459.81px, 117vw, 503.09px);
                padding: clamp(19px, 5vw, 22px);
            }
        }
    
        .no-overflow {
            width: clamp(261.82px, 66.62vw, 286.46px);
            height: clamp(408.31px, 103.89vw, 446.73px);
            overflow: hidden;
            position: absolute;
            top: clamp(66.95px, 17.035vw, 73.25px);
            left: clamp(194.85px, 49.58vw, 213.194px);
        }
    
        .w-image {
            max-width: clamp(261.82px, 66.62vw, 286.46px);
        }
    }
}

.standby {
    background: white;
    padding-bottom: var(--short-padding);

    h7 {
        color: var(--secondary);
    }

    .eyebrow h7 {
        color: var(--primary);
    }

    #stand {
        aspect-ratio: 892/884;
        width: clamp(700px, 44vw, 740px);
        transition: background-image 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    }

    .button-container {
        display: flex;
        width: auto;
        position: relative;
        margin-top: 10px;
        margin-bottom: var(--larger-gap);
        gap: 50px;
    }

    button {
        font-size: var(--p-size);
        line-height: var(--p-height);
        color: var(--secondary);
        transition: all 0.15s cubic-bezier(0.28, 0.11, 0.32, 1);
        width: 66px;
    }

    .current {
        color: var(--primary);
        font-weight: 500;
    }

    @media (width <= 1035px) {
        #stand {
            width: 680px;
        }
    }

    @media (width <= 630px) {
        #stand {
            width: clamp(360px, 91.6vw, 393px);
        }

        .button-container {
            gap: 20px;
        }

        button {
            font-size: 17px;
            line-height: 22px;
        }
    }
}

/* tvOS */
.tv {
    background: #F5F7F9;

    img {
        width: clamp(1180px, 76vw, 1280px);
    }

    .row {
        flex-direction: row;
        gap: 90px;
        max-width: var(--view-width);
    }

    @media (width <= 1035px) {
        img {
            width: clamp(740px, 85vw, 840px);
        }
    }

    @media (width <= 630px) {
        img {
            width: 144vw;
            margin-left: 52vw;
        }

        .row {
            flex-direction: column;
            gap: 60px;
        }
    }
}

/* Platforms */
.family {
    .row {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    #colorContainer {
       flex-direction: row;
       gap: 10px;
       width: fit-content;
    }

    button {
        width: 38px;
        height: 38px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        .color {
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing:content-box;
            border-radius: 100px;
            min-width: 38px;
            min-height: 38px;
            margin: 3px;
    
            .paint {
                border-radius: 100px;
                min-width: 32px;
                min-height: 32px;
                box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.15);
            }
    
            .slate { background: linear-gradient(to bottom, #7389B4 0%, #7389B4 50%, #BDD1F0 50%, #BDD1F0 100%); }
            .blue { background: linear-gradient(to bottom, #56ADD3 0%, #56ADD3 50%, #D9CEC6 50%, #D9CEC6 100%); }
            .pink { background: linear-gradient(to bottom, #F66386 0%, #F66386 50%, #FFC0B2 50%, #FFC0B2 100%); }
            .purple { background: linear-gradient(to bottom, #9979C1 0%, #9979C1 50%, #E2B5F5 50%, #E2B5F5 100%); }
            .green { background: linear-gradient(to bottom, #2D915B 0%, #2D915B 50%, #E1B984 50%, #E1B984 100%); }
        }

        p {
            font-size: 12px;
            line-height: 16px;
            color: var(--primary);
            opacity: 0;
        }
    }

    .current {
        .color{
            background: white;
            margin: 0;
            border: 3px solid var(--secondary);
        }

        p {
            opacity: 1;
        }
    }

    #family {
        aspect-ratio: 2562/1186;
        width: clamp(1300px, 84vw, 1420px);
        transition: background-image 0.5s ease-in-out;
    }

    @media (width <= 1360px) {
        #family { width: 1080px }
    }

    @media (width <= 1035px) {
        #family { width: clamp(780px, 89vw, 880px); }
    }

    @media (width <= 630px) {
        #family { 
            width: 143vw; 
            margin-left: 50vw;
        }

        .row {
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
        }
    }
}







